/* plano de fundo */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../imagens/torneio.png') no-repeat center center fixed;
  background-size: cover;
}

/* cabecalho */
.header {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  color: #ffffffd3;
  text-align: center;
  border-radius: 10px;
  max-width: 90%;
  margin: 20px auto 0;
  margin-bottom: 20px;
}

#player-name {
    margin-right: 100px; /* espaço de 20px à direita */
}

/* Container onde as cartas ficam organizadas */
.game-board {
  display: grid;
  grid-template-columns: repeat(5, 130px); /* 5 colunas */
  gap: 15px;
  justify-content: center;
  padding-bottom: 40px;
}

/* Container principal do jogo */
#tabuleiro {
  display: grid;
  grid-template-columns: repeat(5, 120px); /* 5 colunas */
  gap: 15px;
  justify-content: center;
}

/* Estilo base da carta */
.card {
  width: 120px;
  height: 160px;
  perspective: 1000px; /* necessário para efeito 3D */
  cursor: pointer;
}

/* Lados da carta */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Efeito de virar */
.card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* Frente e verso */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

/* Frente da carta (imagem do personagem) */
.card-front {
  transform: rotateY(180deg);
  background-color: white;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Verso: o que aparece antes de virar */
.card-back {
  background: url('../imagens/back.png') no-repeat center center;
  background-size: cover;
  transform: rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}